[submodule "lib/signalk-libsignalkclient"]
	path = lib/signalk-libsignalkclient
	url = https://github.com/preeve9534/signalk-libsignalkclient.git
[submodule "lib/swipe-handler"]
	path = lib/swipe-handler
	url = https://github.com/preeve9534/swipe-handler.git
